.docs {
  font-size: 90%;
  text-align: left;
}

.docs h3{
  margin-top: 1.618em;
  border-bottom: 1px solid #55cc20;
  padding-bottom: 5px;
}

.docs h2 {
  margin-bottom: 1em;
  font-size: 18pt;
  font-weight: 400;
}

